<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852541175665-40pkg48jtftp999e8i5cb678fan0j4qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852541175665-40pkg48jtftp999e8i5cb678fan0j4qn</string>
	<key>API_KEY</key>
	<string>AIzaSyDlT3mfcNkVbln9bxnzsRlNTle2GtNgtJw</string>
	<key>GCM_SENDER_ID</key>
	<string>852541175665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecoRouteSe</string>
	<key>PROJECT_ID</key>
	<string>ecoroute-4eeb1</string>
	<key>STORAGE_BUCKET</key>
	<string>ecoroute-4eeb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852541175665:ios:e5eda080fc51d2bfd728d0</string>
	<key>DATABASE_URL</key>
	<string>https://ecoroute-4eeb1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>